<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinSys - @ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/public.css" asp-append-version="true">
</head>
<body>

    <!-- NAVBAR -->
    <nav class="nav-acc">

    </nav>

    <!-- MAIN -->
    <main>
        @RenderBody()
    </main>

    <!-- FOOTER -->
    <footer>

    </footer>
</body>
</html>