<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinSys</title>

    <link rel="stylesheet" href="~/css/public.css" asp-append-version="true">
</head>
<body>
    <!-- NAVBAR -->
    <nav>
        <div class="nav-list-con">

            <div class="nav-logo">
                <img src="~/brand/logo.svg">
            </div>
            <ul>
                <li>Solutions</li>
                <li>Services</li>
                <li>Prices & Plans</li>
            </ul>
        </div>

        <div class="nav-btn-con">
            <button class="start-btn">Start Now</button>
            <button class="login-btn">Log In</button>
        </div>
    </nav>

    <!-- MAIN -->
    <main>
        @RenderBody()
    </main>

    <!-- FOOTER -->
    <footer>

    </footer>
</body>
</html>