@{
    ViewData["Title"] = "Main";
}

<!-- HERO SECTION -->
<div class="hero">

    <p>hjhsgssugu</p>
    <p>hsshuh</p>

    <button>Hellooooooo</button>


    <span>s  nujubui</span>

    <input type="">

</div>
